<div class="row menu-page-item mx-md-0 mx-1">
    <div class="col-lg-4 col-md-6 col-12 py-md-0 py-4">
        <img src="" alt="" class="img-fluid menu-page-item-img">
    </div>
    <div class="col-lg-8 col-md-6 col-12">
        <h3 class="menu-page-item-title text-uppercase">SALADA DUNAS</h3>
        <p class="menu-page-item-desc">Camarão salteado, folhas mistas, tomate fresco, tomate seco, cenoura, azeitonas, mini-cebolas, lascas de queijo parmesão
            e torradas. Regada com molho artesanal suave de mostarda e azeite.
        </p>
    </div>
</div>

<hr>