// WideScreens, width >= 1171px
@include mediaXL {

}

// Desktops % Laptops, width <= 1170px
@include mediaLg {
    :root {
        --sidebar-width: 250px;
    }

    .logo {
        width: 150px;
    }

    .home-header {
        .btn {
            margin: 0 1rem;
        }

        p {
            font-size: 1.6rem;
        }
    }

    .btn.btn-lg {
        padding: 0.7rem 2.5rem;
    }

    section {
        &.announce {
            h1 {
                font-size: 2.5rem;
            }
        }
    }

    section {
        &.home-info {
            .card {
                .card-img-top {
                    height: 200px;
                    object-fit: cover;
                }
    
                p {
                    color: $secondary;
                }
            }
        }
    }
    
    .unit-page {
        img {
            min-height: 60vh;
        }
    }
}

// Tablets & Small Laptops, width <= 768px
@include mediaMd {
    #content {
        margin-left: 0;
    }
    .sidenav {
        transform: translateX(-100%);

        &-toggler {
            display: block;
        }
    }

    section {
        &.announce {
            h1 {
                font-size: 2rem;
            }
        }
    }

    .unit-page {
        img {
            min-height: 50vh;
        }
    }

    .menu-page {
        &-nav {
            .nav {
                font-size: 0.9rem;
            }
        }
    }
}

// Smartphones, width <= 500px
@include mediaSm {
    p {
        font-size: 1rem;
    }

    .btn.btn-lg {
        padding: 0.7rem 2.5rem;
    }

    .home-header {
        .btn {
            margin: 0 1rem;
        }

        p {
            font-size: 1.3rem;
        }

        &-msg {
            .logo-name {        
                &-main {
                    font-size: 6rem;
                }
        
                &-sub {
                    font-size: 1.9rem;
                }
            }
        }
    }

    .unit-page {
        img {
            min-height: 40vh;
        }
    }
}

// Small smartphones, width <= 380px
@include mediaXS {
    .display-4 {
        font-size: 3rem;
    }
    
    .home-header {
        p {
            font-size: 1rem;
        }
    }
}